@font-face {
  font-family: 'Gordita-Bold';
  src: url('../fonts/Gordita-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Gordita-Medium';
  src: url('../fonts/gordita-medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Gordita-Regular';
  src: url('../fonts/gordita-regular.otf') format('opentype');
  font-weight: normal;
}
